{% extends "layout.html" %}
{% block title %}Berimbau{% endblock %}

{% block body %}
<div class="panel panel-default" id="latestchanges">
   <a data-toggle="collapse" data-parent="#latestchanges" href="#collapse-latestchanges">
   <div class="panel-heading">
      <h4 class="panel-title">
         Recent additions (click to expand)
      </h4>
   </div>
   </a>
   <div id="collapse-latestchanges" class="panel-collapse collapse">
      <div class="panel-body">
         <table class="table table-striped table-bordered table-condensed">
            {% for name, path, ctime in top_50 %}
            <tr>
               <td><a href="{{ url_for('fs_page', root=name, path=path) }}">{{ path }}</a></td>
               <td>{{ format_ts(ctime) }}</td>
            </tr>
            {% endfor %}
         </table>
      </div>
   </div>
</div>
<h4>Root directories</h4>
<table class="table table-striped table-bordered table-condensed">
   {% for name, obj in Config.roots %}
   <tr>
      <td><a href="{{ url_for('fs_page', root=obj.kw) }}">{{ obj.name }}</a></td>
      <td>{{ obj.desc }}</td>
   </tr>
   {% endfor %}
</table>
{% endblock %}
